<div class="footer">
    <div class="container">
        <div class="first">
            <h4>Thông tin</h4>
            <p>
                Giới thiệu về TTN Shop
            </p>
            <p>Tuyển dụng</p>
            <p>Quy chế hoạt động</p>
            <p>Điều khoản mua bán</p>
        </div>
        <div class="second">
            <h4>CSKH</h4>
            
            <p>Vận chuyển</p>
            <p>Chính sách đổi trả</p>
            <p>Chính sách bảo hành</p>
            <p>Khách hàng vip</p>
            
        </div>
        <div class="third">
            <h4>Hệ thống cửa hàng TTN Shop</h4>
            <p>Tp. HỒ CHÍ MINH</p>
            <p>TÂY NAM BỘ</p>
            <p>ĐÔNG NAM BỘ & TÂY NGUYÊN</p>
            <p>NAM TRUNG BỘ</p>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright ©2019 ISO:9001 | CÔNG TY TNHH TTN SHOP VN</p>
    </div>
</div>
